html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}
canvas {
    width: 100%;
    height: 100%;
    display: block;
}


@font-face {
    font-family: "MyGameFont"; /* pick any name you like */
    src: url("./assets/fonts/VCR_OSD_MONO_1.001.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

#start-screen h1 {
    font-family: "MyGameFont", sans-serif;
    font-size: 4rem;
    margin-bottom: 1rem;
}

#start-screen button {
    font-family: "MyGameFont", sans-serif;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    cursor: pointer;
}




p {
    font-family: "MyGameFont", sans-serif;
    text-align: center;
    margin-bottom: 2rem;

}


#start-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4B734C; /* dark background */
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    font-family: Arial, sans-serif;
}

#start-screen h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
}

#start-screen button {
    padding: 1rem 2rem;
    background-color: #CAD0C3;
    font-size: 1.5rem;
    cursor: pointer;
}


#game-logo {
    width: 200px;       /* adjust size */
    height: auto;
    margin-bottom: 2rem; /* space between image and title */
}